.skills  .head{
 width: 100%;
 height: 70px;
 background-color: #182347;
 text-align: center;
}

.head h6{
    color: #fff;
    font-size: 26px;
    font-weight: 400;
    padding-top: 10px;
}
 .skills .skill{
    display: flex;
    justify-content: space-evenly;
    
 }  
 
 .skills .skill .no1{
         display: block;
        margin-top: 10px;
 }
 
 .skills .skill .no1 div{
    padding-top: 20px;
    width: 300px;
    height: 60px;
    color: #fff;
    text-align: center;
    border: none;
    background-color: #414a63;
    margin: 10px 0;
     font-size: 15px;
     opacity: 85%;
     font-weight: 800;
 }


 
@media only screen and (max-width: 600px) {
    .skills  .head{
        width: 100%;
        height: 40px;
        background-color: #182347;
        text-align: center;
       }
       
       .head h6{
           color: #fff;
           font-size: 18px;
           font-weight: 400;
           padding-top: 7px;
       }
        .skills .skill{
           display: flex;
           justify-content: space-evenly;
           
        }  
        
        .skills .skill .no1{
                display: block;
               margin-top: 10px;
        }
        
        .skills .skill .no1 div{
           padding-top: 10px;
           width: 150px;
           height: 40px;
           color: #fff;
           text-align: center;
           border: none;
           background-color: #414a63;
           margin: 10px 0;
            font-size: 12px;
            opacity: 85%;
            font-weight: 800;
        }
}
.expertise{
    padding: 40px 0 40px 0;
    background-color: #fff;
    display: block;
    text-align: center;
}

.expertise h1{
      color: #182347;
      font-weight: 500;
}

.expertise .expert{
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
}
.expertise .expert .no2{
    display: block;
    text-align: left;
}
.expertise .expert .no2 h3{
    color: #182347;
    font-size: 23px;
}

.expertise .expert .no2 p{
    color: #222;
    padding-top: 5px;
}

@media only screen and (max-width: 600px) {
    
.expertise{
  opacity: 0.8;
    padding: 20px 0 20px 0;
    background-color: #fff;
    display: block;
    text-align: center;
}

.expertise h1{
      color: #182347;
      font-weight: 500;
}

.expertise .expert{
    display: block;
    justify-content: space-evenly;
    padding-top: 10px;
}
.expertise .expert .no2{
    display: block;
    text-align: left;
    padding: 15px 7px;
}
.expertise .expert .no2 h3{
    color: #182347;
    font-size: 18px;
}

.expertise .expert .no2 p{
    color: #000;
    padding-top: 5px;
    font-size: 13px;
}
}
/*--------CONTACTS-----------*/

.cont{
    margin-top: 70px;
    display: flex;
    justify-content: center;
}

.form-container {
    width: 700px;
    background: linear-gradient(#212121, #212121) padding-box,
                linear-gradient(145deg, transparent 35%,#e81cff, #40c9ff) border-box;
    border: 2px solid transparent;
    padding: 32px 24px;
    font-size: 14px;
    font-family: inherit;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    border-radius: 16px;
    justify-content: center;
  }
  
  .form-container button:active {
    scale: 0.95;
  }
  
  .form-container .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .form-container .form-group {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
  
  .form-container .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #717171;
    font-weight: 600;
    font-size: 12px;
  }
  
  .form-container .form-group input {
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    color: #fff;
    font-family: inherit;
    background-color: transparent;
    border: 1px solid #414141;
  }
  
  .form-container .form-group textarea {
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    resize: none;
    color: #fff;
    height: 150px;
    border: 1px solid #414141;
    background-color: transparent;
    font-family: inherit;
  }
  
  .form-container .form-group input::placeholder {
    opacity: 0.5;
  }
  
  .form-container .form-group input:focus {
    outline: none;
    border-color: #e81cff;
  }
  
  .form-container .form-group textarea:focus {
    outline: none;
    border-color: #e81cff;
  }
  
  .form-container .form-submit-btn {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-self: flex-start;
    font-family: inherit;
    color: #717171;
    font-weight: 600;
    width: 40%;
    background: #313131;
    border: 1px solid #414141;
    padding: 12px 16px;
    font-size: inherit;
    gap: 8px;
    margin-top: 8px;
    cursor: pointer;
    border-radius: 6px;
  }
  
  .form-container .form-submit-btn:hover {
    background-color: #fff;
    border-color: #fff;
  }
  
  
  
  .media{
    margin: 30px 0;
    display: block;
    text-align: center;
  }
    .media h3, h4{
      color: #222;
      font-size: 17px;
      font-weight: 400;
    }

    .media a{
        text-decoration: none;
        font-size: 22px;
        color: orange;
    }

    .education{
      display: block;
      text-align: center;
      width: 100%;
      padding: 20px 0;
      background-color: #fff;
    }

    .education h1{
      font-size: 22px;
      color: #182347;
    }

    .education p{
      color: #111;
      font-size: 20px;
    }

    .component{
      display: block;
    }